<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js SPA 예제 애플리케이션</title>
  <style>
  </style>
</head>
<body>
  <div id="app">
    <nav>
      <!-- router-link를 이용한 네비게이션 정의 -->
      <router-link to="/top">최상위 페이지</router-link>
      <router-link to="/users">사용자 목록 페이지</router-link>
    </nav>
    <router-view>
    </router-view>
  </div>

  <!-- Vue.js와 Vue Router 로딩 -->
  <script src="https://unpkg.com/vue@2.4.2/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-router@2.7.0/dist/vue-router.min.js"></script>

  <!-- 필요한 컴포넌트 템플릿 정의 -->
  <script type="text/x-template" id="user-list">
    <div>
      <div class="loading" v-if="loading">로딩 중...</div>
      <div v-if="error" class="error">
        {{ error }}
      </div>
      <div v-for="user in users" :key="user.id">
        <h2>{{ user.name }}</h2>
      </div>
    </div>
  </script>
  
  <script type="text/x-template" id="user-detail">
    <div>
      <div class="loading" v-if="loading">로딩 중...</div>
      <div v-if="error" class="error">
        {{ error }}
      </div>
      <div v-if="user">
        <h2>{{ user.name }}</h2>
        <p>{{ user.description }}</h2>
      </div>
    </div>
  </script>


  <script>
    // JSON을 반환하는 함수
    // 이 함수를 사용해 가상의 WEB API를 통해 정보를 받아오는 것으로 생각한다.
    var userData = [
      {
        id: 1,
        name: 'Takuya Tejima',
        description: '동남아시아에서 일하는 엔지니어입니다.'
      },
      {
        id: 2,
        name: 'Yohei Noda',
        description: '아웃도어, 풋살이 취미인 엔지니어입니다.'
      }
    ];

    var getUsers = function (callback) {
      setTimeout(function () {
        callback(null, userData);
      }, 1000);
    };

    var getUser = function (userId, callback) {
      setTimeout(function () {
        var filteredUsers = userData.filter(function (user) {
          return user.id === parseInt(userId, 10);
        });

        callback(null, filteredUsers && filteredUsers[0]);
      }, 1000);
    };

    var UserList = {
      template: '#user-list',
      data: function () {
        return {
          loading: false,
          users: function () {
            return [];
          },
          error: null
        }
      },
      // 초기화 할 때 데이터 받아옴
      created: function () {
        console.log('created');
        this.fetchData();
      },
      // $route의 변경을 모니터링하며 라우팅이 수정되면 데이터를 다시 받아옴
      watch: {
        '$route': 'fetchData'
      },
      methods: {
        fetchData: function () {
          this.loading = true;
          // 받아온 데이터를 users에 저장
          // Function.prototype.bind는 this의 유효범위를 전달하기 위해 사용
          getUsers((function(err, users) {
            this.loading = false;
            if (err) {
              this.error = err.toString();
            } else {
              this.users = users;
            }
          }).bind(this));
        }
      }
    };

    var UserDetail = {
      template: '#user-detail',
      data: function () {
        return {
          loading: false,
          user: null,
          error: null
        };
      },
      created: function () {
        this.fetchData();
      },
      watch: {
        '$route': 'fetchData'
      },
      methods: {
        fetchData: function () {
          this.loading = true;
          // this.$route.params.userId에 현재 URL 파라미터에 해당하는 userId를 저장
          getUser(this.$route.params.userId, 
            (function (err, user) {
              this.loading = false;
              if (err) {
                this.error = err.toString();
              } else {
                this.user = user;
              }
            }).bind(this));
        }
      }
    };

    var router = new VueRouter({
      routes: [
        {
          path: '/top',
          component: {
            template: '<div>최상위 페이지입니다</div>'
          }
        },
        {
          path: '/users',
          component: UserList
        },
        {
          path: '/user/:userId',
          component: UserDetail
        }
      ]
    });

    var app = new Vue({
      router: router
    }).$mount('#app');
  </script>
</body>
</html>